.bt{
    border: 0;
    padding: 30px;
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 110px;
    cursor: pointer;
   
    top:50%;
    left:50%;
    transform: translate(450%, 180.8%);
    }
 
    h1{
            color: yellow;
            margin-left: 400px;
        }


body{
    background-color: red;
    
}

            
           
       
            
 
            
       