.bt{
    border: 0;
    padding: 10px;
    width: 200px;
    height: 100px;
 
    border-radius: 20px;
    transform: translate(190%, 190%);
    }
    
    #centralizar{
        position:absolute; 
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
 body{
    background-color: lightblue;

 }
        h1{
            color: navy;
    
                margin-left:270px; 
                } 
                .center{
                    border: 0;
                    padding: 10px;
                    width: 200px;
                    height: 100px;
                 
                    border-radius: 20px;
                    transform: translate(193%, 220%);
                    }
                    .centre{
                        border: 0;
                        padding: 10px;
                        width: 200px;
                        height: 50px;
                     
                        border-radius: 20px;
                        transform: translate(170%, 120%);
                        }
                        #fre{
                        transform: translate(25%, 140%);
                        font-size: 20px;
                        color: navy;
                        }