.bt{
    border: 0;
    padding: 30px;
    width: 220px;
    height: 100px;
    display: inline-block;
    margin: 110px;
    cursor: pointer;
   
    top:50%;
    left:50%;
    transform: translate(450%, 180.8%);
    }
 
    h1{
            color: navy ;
            margin-left: 400px;
        }


body{
    background-color: orange;
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    transform: translate(-10%, 0%);
}

.inputlabel {
    margin-left: -50px;
    font-size: 20px;
    padding:16px 0 17px 0;
    text-align: center;
    text-justify: inter-word;
    white-space: pre-wrap;
    color: navy;
}
input {
    position: relative; 
    top: 15px; 
    left:1px;
  }

            
           
       
            
 
            
       